body, html {
  margin: 0;
  padding: 0;
  font-family: 'Forum', sans-serif;
  font-size: 18px;
  background-color: rgb(255, 254, 227);
}

.instructions .container h1 {
  font-family: 'Comfortaa', sans-serif;
  text-transform: uppercase;
  font-size: 5em;
  margin: 0;
  color: rgb(255, 250, 121);
  letter-spacing: 40px;
  font-weight: 600;
  text-shadow: 5px 5px 5px white;
}

.instructions .container h3 {
  color: white;
}

.instructions {
  background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(146,193,229,1) 100%);
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #333333;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;


}

.map_canvas {


    height: 400px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid silver;

}

md-nav-bar {
  background-color: white;
  border-bottom: rgb(77, 77, 77);
}

md-nav-bar.md-default-theme .md-button._md-nav-button.md-unselected, md-nav-bar .md-button._md-nav-button.md-unselected {
  color: rgb(29, 111, 205);
}

md-select {
  background-color: white;
}
.navbar {

  color: white;
  text-transform: uppercase;
}