<div ng-controller="UserController as uc">
  <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" layout="row" layout-align="space-around center">
    <md-nav-item md-nav-href="#/user" name="home">
      Home
    </md-nav-item>
    <md-nav-item md-nav-href="#/info" name="info">
      Profile Info
    </md-nav-item>
    <md-nav-item md-nav-href="#/currentneeds" name="currentneeds">
      Current Cart
    </md-nav-item>
    <md-nav-item md-nav-href="#/updateneed" name="updateneed">
      Update your need request
    </md-nav-item>
    <md-nav-item md-nav-href="#/thankyou" name="thankyou">
      View your request
    </md-nav-item>
  </md-nav-bar>
</div>
