<div ng-include="'views/partials/nav.html'"></div>

<md-input-container>
    <label>Please Select A Need Below</label>
    <md-select ng-model="nc.userNeed.need">
        <md-option ng-repeat="need in nc.needs.list" ng-value="need">
            {{need}}
        </md-option>
    </md-select>
</md-input-container>

<div ng-show="nc.userNeed.need === 'groceries'">
    <h5>Select grocery items you need: </h5>
    <h5>Meats: </h5>
    <label><input type="checkbox" checklist-model="nc.userNeed.groceries" value="chicken">Chicken: </label>
    <label><Input type="checkbox" checklist-model="nc.userNeed.groceries" value="beef">Beef: </label>
        {{nc.userNeed}}
    <!-- <label>Fish: </label>
    <Input type="checkbox" ng-model="nc.userNeed.fish">
    <label>Pork: </label>
    <Input type="checkbox" checklist-model="nc.userNeed.pork">
    <h5>Produce Items: </h5>
    <label>Fresh Vegetables</label>
    <input type="checkbox" ng-model="nc.userNeed.vegetables">
    <label>Fresh Fruits: </label>
    <Input type="checkbox" ng-model="nc.userNeed.fruits">
    <h5> Dairy: </h5>
    <label>Milk: </label>
    <Input type="checkbox" ng-model="nc.userNeed.milk">
    <label>Butter: </label>
    <Input type="checkbox" ng-model="nc.userNeed.butter">
    <br>
    <br> -->
    <button ng-click="nc.addingNeeds()"> Submit Needs </button>
</div>


<button type="button" onclick="window.location='#user'"> Go Back </button>



<!-- // clothing ng-show -->

<!-- <div ng-show="nc.userNeed.need === 'Clothing'">
    <h5>Select Clothing items you need: </h5>
    <h5>Clothing: </h5>
    <label>Winter Jackets</label>
    <input type="checkbox" ng-model="nc.userNeed.winterjackets">
    <label>Gloves: </label>
    <Input type="checkbox" ng-model="nc.userNeed.gloves">
    <label>Winter Hats: </label>
    <Input type="checkbox" ng-model="nc.userNeed.winterhats">
    <input type="submit" value="Submit">


</div> -->


