<div ng-include="'views/partials/nav.html'"></div>


<div class='container'>

<p>thank you for submitting your request</p>


<ng-map class='map_canvas' center="[44.97, -93.26]" zoom="12">
    <marker position="[44.9614, -93.2876]"></marker> </ng-map>

firstname : {{tc.userInformationObject.list[0].firstname}}

lastname : {{tc.userInformationObject.list[0].lastname}}

address : {{tc.userInformationObject.list[0].address}}

householdsize : {{tc.userInformationObject.list[0].householdsize}}

phone number : {{tc.userInformationObject.list[0].phonenumber}}


</div>