<div ng-include="'views/partials/nav.html'"></div>


<div class='container'>

    <!-- "["+{{variable1}}+", "+{{variable2}}+"]" -->

    <p>thank you for submitting your request</p>
    
    {{tc.userNeeds.needs[0].need}}

    <!-- {{tc.markerLocationLatitude}}
    {{tc.markerLocationLongitude}} -->

    <div ng-if="tc.userLocation.coordinates[0].longitude && tc.userLocation.coordinates[0].latitude">
        <ng-map default-style="true" id= "map" class='map_canvas' center="[44.97, -93.26]" zoom="10">
            <marker on-click="tc.showDeets(tc.userInformationObject.list[0])" position="{{tc.userLocation.coordinates[0].latitude}}, {{tc.userLocation.coordinates[0].longitude}}"></marker>
            <info-window id='InfoWindow'>
                <div ng-non-bindable="">
                    {{tc.userInformationObject.list[0].firstname}}
                    <br> {{tc.userInformationObject.list[0].lastname}}
                    <br> {{tc.userInformationObject.list[0].phonenumber}}
                    <br> {{tc.userInformationObject.list[0].address}}
                    <div ng-click="show = !show">Emergency Request: {{tc.userNeeds.needs[0].need}}</div> 
                    
                     <div ng-if ="show" > {{tc.userNeeds.needs[0].groceries}} </div>
                    
                
                    


                </div>
            </info-window>
        </ng-map>
    </div>

    <!-- "{lat: "+{{tc.userLocation.coordinates[0].latitude}}+", lng: "+{{tc.userLocation.coordinates[0].longitude}}+"}"  -->

    <!-- "["+{{tc.userLocation.coordinates[0].latitude}}+ ","+{{tc.userLocation.coordinates[0].longitude}}+"]" -->


    <!-- <marker position="[44.9614, -93.2876]"></marker> -->

    <!-- firstname : {{tc.userInformationObject.list[0].firstname}}

lastname : {{tc.userInformationObject.list[0].lastname}}

address : {{tc.userInformationObject.list[0].address}}

householdsize : {{tc.userInformationObject.list[0].householdsize}}

phone number : {{tc.userInformationObject.list[0].phonenumber}} -->



</div>

<button type="button" onclick="window.location='#need'"> Go Back </button>