<div ng-include="'views/partials/nav.html'"></div>


<md-input-container>
    <label>Please Select A Need Below</label>
    <md-select ng-model="nc.userNeed.need">
        <md-option ng-repeat="need in nc.needs.list" ng-value="need">
            {{need}}
        </md-option>
    </md-select>
</md-input-container>

<div ng-show="nc.userNeed.need === 'groceries'">
    <h5>Select grocery items you need: </h5>
    <h5>Meats: </h5>
    <label><input type="checkbox" checklist-model="nc.userNeed.groceries" value="chicken">Chicken: </label>
    <label><Input type="checkbox" checklist-model="nc.userNeed.groceries" value="beef">Beef: </label>
    <button ng-click="nc.addingNeeds()"> Submit Needs </button>
</div>


<button type="button" onclick="window.location='#user'"> Go Back </button>